body{
    background-color: #900020;
}
header{
    text-align: center;
    font-size: 30px;
    margin: 20px;
    width: 100%;
}

#banner{
    width: 100%;
    border: 10px solid black;
    border-radius: 25px;
}

.principal{
    background-color: #CCCCCC;
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border: 10px solid black;
    border-radius: 50px;
}

#missao{
    font-size: 50px;
}

#corMissao{
    color: #900020;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    border: 10px solid black;
    border-radius: 50px;
}

.h3beneficios{
    text-align: center;
}

.itens{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-right: 20%;
}

.imagembeneficios{
    width: 50%;
    border: 10px solid #900020;
    border-radius: 20px;
}