/* body{
    font-family: 'Montserrat', sans-serif;
} */
header{
    background: #bbbbbb;
    padding: 20px 0;
}
.imagem-logo-topo{
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(10px 10px 5px #222222)
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
main{
    border-top: 5px solid black;
    background: linear-gradient(#900020,#000);
    margin: 0 auto;
}
main form{
    margin-top: 20px;
    padding: 20px;
    margin:  0 10% 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    color: #FFFFFF;
    margin:  0 0 10px;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    border: 2px solid black;
    width: 50%;
    cursor: text;
}
.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.1);
}

footer{
    text-align: center;
    border-top: 5px solid black;
    background: url(imagens/parede-preta.jpg);
    padding: 40px 0;
}
.copyridth{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

table{
    margin-top: 20px;
    padding: 20px;
    position: absolute;
    top: 127%;
    left: 41%;
}

thead{
    background: #555;
    font-weight: bold;
}

td, th{
    background: white;
    border: 1px solid black;
    padding: 8px 15px;
}
