body{
    background-color: #900020;
}

header{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
}

.titulo{
    background: url(imagens/bg.jpg);
    color: #ffffff;
    border: 5px solid #000000;
    border-radius: 50px;
    margin: 0 auto;
    padding: 10px;
}

#banner{
    width: 100%;
    height: 640px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.principal{
    background-color: darkgray;
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border: 5px solid black;
    border-radius: 50px;
}

.principal h2{
    font-size: 50px;
    font-weight: bold;
    padding: auto;
}

.principal p{
    padding: 10px;
    margin: 0 auto;
}

#missao{
    font-size: 50px;
    font-style: italic;
}

#corMissao{
    color: #900020;
    font-weight: bold;
}

.beneficios{
    background: url(imagens/parede-preta.jpg);
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    border: 5px solid black;
    border-radius: 50px;
}

.h3beneficios{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
}

.itens li{
    font-style: italic;
    padding: 5px;
    margin-left: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-right: 20%;
}

.imagembeneficios{
    width: 50%;
    border: 5px solid black;
    border-radius: 20px;
    margin-left: auto;
}